.block {
  width: 16rpx;
  height: 16rpx;
  background: rgba($uni-color-primary, .3);
}

.text-primary {
  color: $uni-color-primary;
}

.bg-primary {
  background: $uni-color-primary;
}

.bg-primary-sec {
  background-color: $uni-color-primary-sec;
}

.text-primary-sub {
  color: $uni-color-primary-sub;
}

.bg-primary-sub {
  background: $uni-color-primary-sub;
}
.bg-grey-sub{
  background: $uni-bg-color-grey;
}
.text-grey-sub{
  color: $uni-bg-color-grey;
}
.text-color{
  color: $uni-text-color;
}

.capsule-button{
  border-radius: 174rpx;
  font-weight: 500;
  padding: 10rpx 30rpx;
  font-size: 24rpx;
}

.tag {
  font-size: 20rpx;
  padding: 2.5rpx 10rpx;
  border-radius: 30rpx;
  display: inline-block;
}

.red {
  background: #FEE3DE;
  color: #DB5549;
}

.green {
  background: #E8F7EF;
  color: #72CBA0;
}

.view-btn {
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  font-size: inherit;

  &:after {
    border: none
  }
}

.text-btn {
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  font-size: inherit;
  display: inline-flex;

  &:after {
    border: none
  }
}

.white-nowrap {
  white-space: nowrap;
}

.dashed {
  border-bottom: 1px dashed #C7C7C7;
}


.safe-padding-bottom {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.safe-margin-bottom {
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
}


.info-item {
  height: 94rpx;
  border-radius: 20rpx;
  background: rgba(165, 214, 63, .1);
  display: flex;
  align-items: center;
  padding-left: 20rpx;
  margin-bottom: 20rpx;
  font-size: 28rpx;
  color: $uni-text-color;
  font-weight: 500;
}

.gc-title {
  display: flex;
  font-size: 28rpx;
  color: $uni-text-color;
  font-weight: 500;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;


  &:after {
    display: block;
    content: " ";
    width: 62rpx;
    height: 62rpx;
    background: linear-gradient(122.54deg, rgba(193, 247, 213, 1) 0%, rgba(220, 248, 166, 0) 100%);
    border-radius: 50%;
    position: absolute;
    transform: translateX(-10%) translateZ(-1px);
  }
}